@page "/auth"

@using Microsoft.AspNetCore.Authorization


@attribute [Authorize]
@attribute [RenderModeInteractiveAuto]

<PageTitle>Auth</PageTitle>

<h1>You are authenticated</h1>

<AuthorizeView >
    Hello @context.User.Identity?.Name!
    @{

    
    foreach (var claim in context.User.Claims)
    {
        <p>@claim.Type: @claim.Value</p>
    }
    }
</AuthorizeView>

@code {
    //TODO capire perchè scompaionoi i claim

}
```


